@import "../../app.scss";
body{
    background-color: #181818;
    font-family: 'Netflix Sans';
}
.search-form{
    position: relative;

    .search{
        outline: none;
        position: absolute;
        top: -59px;
        right: 260px;
        border: none;
        border-radius: 3px;
        background: #fff;
        padding: 8px 2px;
        color: #000;
        z-index: 10;
        width: 260px;
        height:36px;
        font-size: 23px;
      }
      ::placeholder{
        color: grey;
}

}
.listitem{
    margin-top: 75px;
   
    .poster{
        width: 36vh;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        margin-left: 15px;
        transition: transform 450ms;
        margin-top: 10px;
    }
    .poster:hover{
        transform: scale(1.08);
        opacity: 1;
    }
}
